USE [master]
GO
/****** Object:  User [##MS_PolicyEventProcessingLogin##]    Script Date: 2025/6/22 19:57:50 ******/
CREATE USER [##MS_PolicyEventProcessingLogin##] FOR LOGIN [##MS_PolicyEventProcessingLogin##] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [##MS_AgentSigningCertificate##]    Script Date: 2025/6/22 19:57:50 ******/
CREATE USER [##MS_AgentSigningCertificate##] FOR LOGIN [##MS_AgentSigningCertificate##]
GO
/****** Object:  Table [dbo].[SubwayLines]    Script Date: 2025/6/22 19:57:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubwayLines](
	[lineID] [nvarchar](10) NOT NULL,
	[lineName] [nvarchar](50) NOT NULL,
	[startStation] [nvarchar](50) NULL,
	[endStation] [nvarchar](50) NULL,
	[firstTrainTime] [time](7) NOT NULL,
	[lastTrainTime] [time](7) NOT NULL,
	[intervalTime] [int] NULL,
	[status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[lineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stations]    Script Date: 2025/6/22 19:57:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stations](
	[stationID] [int] IDENTITY(1,1) NOT NULL,
	[stationName] [nvarchar](50) NOT NULL,
	[location] [geography] NULL,
	[isTransfer] [bit] NULL,
	[facilities] [nvarchar](max) NULL,
	[openTime] [time](7) NULL,
	[closeTime] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[stationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LineStations]    Script Date: 2025/6/22 19:57:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LineStations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[lineID] [nvarchar](10) NOT NULL,
	[stationID] [int] NOT NULL,
	[sequence] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_LineSequence] UNIQUE NONCLUSTERED 
(
	[lineID] ASC,
	[sequence] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_LineStation] UNIQUE NONCLUSTERED 
(
	[lineID] ASC,
	[stationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_LineDetails]    Script Date: 2025/6/22 19:57:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_LineDetails] AS
SELECT 
    sl.lineID, 
    sl.lineName, 
    sl.firstTrainTime, 
    sl.lastTrainTime,
    COUNT(ls.stationID) AS stationCount,
    MIN(s.openTime) AS earliestOpenTime,
    MAX(s.closeTime) AS latestCloseTime
FROM SubwayLines sl
JOIN LineStations ls ON sl.lineID = ls.lineID
JOIN Stations s ON ls.stationID = s.stationID
GROUP BY sl.lineID, sl.lineName, sl.firstTrainTime, sl.lastTrainTime;
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2025/6/22 19:57:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[userID] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](100) NOT NULL,
	[phone] [nvarchar](20) NOT NULL,
	[email] [nvarchar](100) NULL,
	[balance] [decimal](10, 2) NULL,
	[registerTime] [datetime] NULL,
	[lastLoginTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paths]    Script Date: 2025/6/22 19:57:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paths](
	[pathID] [int] IDENTITY(1,1) NOT NULL,
	[startStationID] [int] NOT NULL,
	[endStationID] [int] NOT NULL,
	[totalDistance] [decimal](8, 2) NULL,
	[estimatedTime] [int] NULL,
	[transferTimes] [int] NULL,
	[pathDetail] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[pathID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 2025/6/22 19:57:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[ticketID] [int] IDENTITY(1,1) NOT NULL,
	[userID] [int] NOT NULL,
	[pathID] [int] NOT NULL,
	[ruleID] [int] NOT NULL,
	[purchaseTime] [datetime] NULL,
	[expireTime] [datetime] NOT NULL,
	[status] [nvarchar](20) NULL,
	[QRcode] [nvarchar](max) NOT NULL,
	[price] [decimal](6, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ticketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_UserTickets]    Script Date: 2025/6/22 19:57:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_UserTickets] AS
SELECT 
    u.userID,
    u.username,
    t.ticketID,
    t.purchaseTime,
    t.expireTime,
    t.status,
    t.price,
    s1.stationName AS startStation,
    s2.stationName AS endStation
FROM Users u
JOIN Tickets t ON u.userID = t.userID
JOIN Paths p ON t.pathID = p.pathID
JOIN Stations s1 ON p.startStationID = s1.stationID
JOIN Stations s2 ON p.endStationID = s2.stationID;
GO
/****** Object:  View [dbo].[vw_MultiUserTickets]    Script Date: 2025/6/22 19:57:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 创建视图查询
CREATE VIEW [dbo].[vw_MultiUserTickets] AS
SELECT u.userID, u.username, COUNT(t.ticketID) AS ticketCount, 
       SUM(t.price) AS totalSpent, MAX(t.purchaseTime) AS lastPurchase
FROM Users u LEFT JOIN Tickets t ON u.userID = t.userID
WHERE u.username LIKE 'user_%'
GROUP BY u.userID, u.username;

GO
/****** Object:  Table [dbo].[Admins]    Script Date: 2025/6/22 19:57:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[adminID] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](100) NOT NULL,
	[role] [nvarchar](50) NOT NULL,
	[department] [nvarchar](100) NULL,
	[lastLoginTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[adminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 2025/6/22 19:57:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[Cno] [char](5) NOT NULL,
	[Cname] [varchar](40) NOT NULL,
	[Ccredit] [smallint] NULL,
	[Cpno] [char](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[Cno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FareRules]    Script Date: 2025/6/22 19:57:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FareRules](
	[ruleID] [int] IDENTITY(1,1) NOT NULL,
	[baseFare] [decimal](6, 2) NOT NULL,
	[distanceFare] [nvarchar](max) NULL,
	[discountPolicy] [nvarchar](max) NULL,
	[effectiveDate] [date] NOT NULL,
	[expirationDate] [date] NULL,
	[adminID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ruleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SC]    Script Date: 2025/6/22 19:57:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SC](
	[Sno] [char](8) NOT NULL,
	[Cno] [char](5) NOT NULL,
	[Grade] [smallint] NULL,
	[Semester] [char](5) NULL,
	[Teachingclass] [char](8) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 2025/6/22 19:57:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[Sno] [char](8) NOT NULL,
	[Sname] [varchar](20) NOT NULL,
	[Ssex] [char](2) NULL,
	[Sbirthdate] [date] NULL,
	[Smajor] [varchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[Sno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Paths] ADD  DEFAULT ((0)) FOR [transferTimes]
GO
ALTER TABLE [dbo].[Stations] ADD  DEFAULT ((0)) FOR [isTransfer]
GO
ALTER TABLE [dbo].[Stations] ADD  DEFAULT ('06:00:00') FOR [openTime]
GO
ALTER TABLE [dbo].[Stations] ADD  DEFAULT ('23:00:00') FOR [closeTime]
GO
ALTER TABLE [dbo].[SubwayLines] ADD  DEFAULT ((5)) FOR [intervalTime]
GO
ALTER TABLE [dbo].[SubwayLines] ADD  DEFAULT ('正常') FOR [status]
GO
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT (getdate()) FOR [purchaseTime]
GO
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT ('未使用') FOR [status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0.00)) FOR [balance]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [registerTime]
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD FOREIGN KEY([Cpno])
REFERENCES [dbo].[Course] ([Cno])
GO
ALTER TABLE [dbo].[FareRules]  WITH CHECK ADD FOREIGN KEY([adminID])
REFERENCES [dbo].[Admins] ([adminID])
GO
ALTER TABLE [dbo].[LineStations]  WITH CHECK ADD FOREIGN KEY([lineID])
REFERENCES [dbo].[SubwayLines] ([lineID])
GO
ALTER TABLE [dbo].[LineStations]  WITH CHECK ADD FOREIGN KEY([stationID])
REFERENCES [dbo].[Stations] ([stationID])
GO
ALTER TABLE [dbo].[Paths]  WITH CHECK ADD FOREIGN KEY([endStationID])
REFERENCES [dbo].[Stations] ([stationID])
GO
ALTER TABLE [dbo].[Paths]  WITH CHECK ADD FOREIGN KEY([startStationID])
REFERENCES [dbo].[Stations] ([stationID])
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD FOREIGN KEY([pathID])
REFERENCES [dbo].[Paths] ([pathID])
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD FOREIGN KEY([ruleID])
REFERENCES [dbo].[FareRules] ([ruleID])
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD FOREIGN KEY([userID])
REFERENCES [dbo].[Users] ([userID])
GO
ALTER TABLE [dbo].[SubwayLines]  WITH CHECK ADD  CONSTRAINT [CHK_IntervalTime] CHECK  (([intervalTime]>(0)))
GO
ALTER TABLE [dbo].[SubwayLines] CHECK CONSTRAINT [CHK_IntervalTime]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [CHK_Status] CHECK  (([status]='已过期' OR [status]='已使用' OR [status]='未使用'))
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [CHK_Status]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CHK_Balance] CHECK  (([balance]>=(0)))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CHK_Balance]
GO
